{% extends 'base.html' %}

    {% block content %}

    {% for lecture in lecture.all %}
        <div class="card text-center" style="width: 40rem; margin: 5% 30%;">
            <div class="card-body">
                <h1 class="card-title">{{lecture.lecture_title}}</h1>
                <p class="card-text">
                    <h3>{{lecture.lecture_professor_name}}</h3>
                    <h5>{{lecture.university_name}}</h5>
                    <h5>{{lecture.semester}}</h5>
                </p>
                <a href="{% url 'lecture_test' lecture.id %}" class="btn btn-primary">페이지로 가기</a>
            </div>
        </div>
    {% endfor %}

    {% endblock %}