
{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <link rel="stylesheet" href="{% static 'css/show_lecture.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <h1>{{lecture.lecture_title}} 입니다.</h1>

<div class="wrapper">
    <div class="lecture_title">
        <h2>너의 뇌구조론</h2>
        <p>
            <label>캠퍼스</label>
            <span>춘천캠퍼스</span>
        </p>
        <p>
            <label>교수명</label>
            <span>아무개교수</span>
        </p>
        <p>
            <label>개설학기</label>
            <span>~~~~</span>
        </p>
    </div>
    <div class="lecture_professor">
        <div>
            <img src="https://computer.kangwon.ac.kr/_oxdir/data/page/__magicdir__/image/pro14.gif" alt="Smiley face" height="100" width="100"> 
            <p>
                <label>교수명</label>
                <span>하진영</span>
            </p>
        </div> 
        <div style="overflow: auto;">
            <label>학력</label>
            <span>하진영</span>
        </div>
    </div>
</div>
<div class="lecture_info">
    <div class="lecture_wrapper">
        <h2 class="lecture_evaluation">강의평가</h2>
        <div class="wrap-star">
            <div class='star-rating'>
                <span class="on" style ="width:30%"></span>
            </div>
        </div>
        <button class="evaluation_button">
            강의평 작성
        </button>    
    </div>
    <p>
        <label>시험 횟수</label>
        <span>n번</span>
    </p>
    <p>
        <label>조모임</label>
        <span>유/무</span>
    </p>
    <p>
        <label>과제</label>
        <span>많/보/적</span>
    </p>
    <p>
        <label>출결 방법</label>
        <span>호명, 인터넷 등</span>
    </p>
</div>
<div class="comment">
    <div class="wrap-star">
        <div class='star-rating'>
            <span class="on" style ="width:30%"></span>
        </div>
    </div>
    <p>
        <span>아무개</span>
        <p>댓글 내용</span>
    </p>
</div>

{% endblock %}