header {
    background-color: rgb(62, 146, 120);
    margin: 5%;
}

nav ul li {
    border-left: solid #999 1px;
    font:bold 15px Dotum;
}

nav {
    width: 60%; 
    margin: 5% auto;
}

nav ul li:first-child {
    border-left:none;
}

.nav-item:hover {
    background-color: rgb(184, 216, 192);
}

footer {
    background-color: rgb(116, 186, 160);
    margin: 5%;
}

.nav-link {
    font-weight: 900 ;
    font-size: 2rem;
    color:#74BAA0;
}