header {
    background-color: rgb(62, 146, 120);
}

nav ul li {
    border-left: solid #999 1px;
    font:bold 15px Dotum;
}

nav ul li:first-child {
    border-left:none;
}

.nav-item:hover {
    background-color: rgb(184, 216, 192);
}

footer {
    background-color: rgb(116, 186, 160);
}