@font-face {
    font-family:'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff')format('woff');
    font-weight: normal;
    font-style: normal; 
}

body {
    font-family: BBTreeGB; 
}

.wrapper {
    display: flex;
    justify-content: center;
 }
.lecture_title {
    border: 1px solid black;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
    border-radius: 15px;
    max-width: 500px;
    max-height: 500px;
    flex: 1;
    flex-basis: 50%;
}
.lecture_professor {
    display: flex;
    border: 1px solid black;
    max-width: 500px;
    max-height: 500px;
    box-sizing: border-box;
    border-radius: 15px;
    flex: 1;
    flex-basis: 50%;
}
.on {
    display:block;
    height:24px;
    background: transparent url("../images/star.png") no-repeat;
    background-size: 120px 24px;
}
.star-rating {
    display:block;
    width: 120px;
    height:24px;
    background: transparent url("../images/star_off.png") no-repeat;
    background-size: 120px 24px;
}
.lecture_info {
    border: 1px solid black;
    max-width: 1000px;
    max-height: 500px;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 0 auto;
}
.comment {
    border: 1px solid black;
    max-width: 1000px;
    max-height: 500px;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 0 auto;
}
.lecture_wrapper {
    display: flex;
}
.lecture_evaluation, .wrap-star, .evaluation_button {
    flex: none;
}
.evaluation_button {
    margin-left: auto;
}

button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:1em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
button:hover{
    background:#fff;
    color:#1AAB8A;
}
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  